.search-input {
  width: 100%;
}
:host::ng-deep {
 .search-input .p-inputtext {
   border-radius: 0;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
 }
}
.custom-header {
  padding: 0rem 2.2rem;
}

// .custom-card {
//   width: 70%;
//   height: 70%;
// }
// .container {
//   width: 1040px;
//   height: max-content;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.p-button-custom{
  cursor: pointer;
}
.p-button-custom:focus {
    box-shadow: none !important;
    outline: none !important;
  }

@media (max-width: 1000px) {
  .custom-card {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .card {
    max-width: 20%;
  }
}
