<div
  class="flex justify-content-center align-items-center full-screen-container"
>
  <p-card class="custom-card">
    <div class="flex flex-column justify-content-center align-items-center">
      <div class="flex justify-content-between align-items-center col-12 custom-header">
        <h1>Users</h1>
        <p-inputGroup>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input
              type="text"
              pInputText
              placeholder="Search"
              class="search-input"
              [(ngModel)]="searchTerm"
            />
          </p-iconField>
          <button
            type="button"
            pButton
            icon="pi pi-times"
            class="p-button-custom"
            (click)="resetSearch()"
          ></button>
        </p-inputGroup>
      </div>
      <app-custom-list
        class="container"
        [entityApiUrl]="usersEntityApiUrl"
        [entityApiHeader]="usersEntityApiHeader"
        [searchTerm]="searchTerm"
      ></app-custom-list>
    </div>
  </p-card>
</div>
