<div
  class="flex justify-content-center align-items-center full-screen-container"
>
  <p-card class="custom-card" *ngIf="!loading">
    <div class="flex flex-column justify-content-center align-items-center custom-height">
      <div class="flex justify-content-start col-12 mb-3 custom-header">
        <!-- <p-button icon="pi pi-arrow-left" /> -->
        <p-buttonGroup>
          <p-button label="Go Back" icon="pi pi-arrow-left" [outlined]="true" (click)="navigateToHomePage()" />
        </p-buttonGroup>
      </div>
      <div class="container">
        <!-- (click)="navigateToUserDetailsPage(entity)" -->
        <div class="card-user-img">
          <img
            [src]="user.avatar"
            [alt]="user.first_name + ' ' + user.last_name"
          />
        </div>
        <div class="card-user-info">
          <h1 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h1>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div></p-card
  >
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>
